// ==========================================================================
// Component - Heading
// ==========================================================================
@use "../../foundation/base" as *;

.c-heading {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 6.4rem;
  position: relative;
  display: inline-block;

  @include sp {
    margin-bottom: 4.8rem;
    font-size: 1.1rem;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    width: 2.4rem;
    height: 1px;
    background-color: currentColor;
  }

  &--center {
    display: block;
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
