// ==========================================================================
// Utility
// ==========================================================================

.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.u-sp-only {
  @media screen and (min-width: 769px) {
    display: none !important;
  }
}

.u-pc-only {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.u-text-center {
  text-align: center;
}
