// ==========================================================================
// Project - Loading
// ==========================================================================
@use "../../foundation/base" as *;

.p-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  &__counter {
    font-size: clamp(4.8rem, 10vw, 12rem);
    font-weight: 900;
    color: $color-white;
    letter-spacing: -0.03em;
    line-height: 1;
  }
}
