// ==========================================================================
// Project - Main Visual
// ==========================================================================
@use "../../foundation/base" as *;

.p-mv {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;

    &-line {
      position: absolute;
      background-color: $color-white;

      &--h {
        width: 100%;
        height: 1px;
      }

      &--v {
        width: 1px;
        height: 100%;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: $color-white;
  }

  &__title {
    font-size: clamp(4.8rem, 10vw, 14rem);
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
  }

  &__title-line {
    display: block;
    overflow: hidden;
  }

  &__title-text {
    display: block;
    transform: translateY(110%);
    will-change: transform;
  }

  &__subtitle {
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
    font-weight: 400;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    opacity: 0;
    will-change: opacity;
  }

  &__scroll {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    z-index: 2;
    opacity: 0;
    will-change: opacity;

    @include sp {
      bottom: 2.4rem;
    }
  }

  &__scroll-text {
    font-size: 1rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $color-white;
    writing-mode: vertical-rl;
  }

  &__scroll-line {
    width: 1px;
    height: 6rem;
    background-color: rgba($color-white, 0.3);
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-white;
      animation: scrollLine 2s ease-in-out infinite;
    }
  }
}

@keyframes scrollLine {
  0% {
    top: -100%;
  }
  50% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
