// ==========================================================================
// Layout - Footer
// ==========================================================================
@use "../foundation/base" as *;

.l-footer {
  background-color: $color-black;
  color: $color-white;
  padding: 3.2rem 4rem;
  text-align: center;

  @include sp {
    padding: 2.4rem 2rem;
  }

  &__copy {
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    opacity: 0.5;
  }
}
